* {
    font-size: 20px;
}
h1{
    font-size: 30px;
    display: flex;
    justify-content: center;
    color: rgb(5, 68, 68);

}
.cascos {
    margin-top: auto;
    height: 250px;
    width: 250px;
}
#listadoDeProductos {
    display: flex;
    justify-content:space-around;
    
}
#detalleDeCompra {
    background-color: rgb(5, 68, 68);
    height: 200px;
    width: 100%;
    padding-top: 20px;
    padding-left: 20px;
    font-family: Arial, Helvetica, sans-serif; color: azure;
    display:flex;
    justify-content:stretch;
}
#detalleDeCompra img {
    width: 40px;
    height: 40px;
}
#detalleDeCompra li {
    border: 1px solid;
    margin: 7px;
    list-style: none;
    background-color: rgb(16, 4, 68);text-align: center; padding: 4px;
}
h3 {
    font-size:15px; color: rgb(211, 234, 253);
}